* {
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
  outline: none;
  color: rgba(0, 0, 0, 0.55);
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.15s;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 12px;
  color: #fff;
  background-image: url(./img/0.jpeg);
  background-size: cover;
  margin-bottom: 30px;
}
