* {
  box-sizing: border-box;
  text-align: center;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 12px;
  color: #fff;
  background-image: url(./img/0.jpeg);
  background-size: cover;
  margin-bottom: 30px;
}
